{% extends '_template.html.twig' %}

{% block title %}Back office - Interplanetravels
{% endblock %}

{% block main %}
	<h2>Back Office</h2>
	<p>List of sevices</p>
	<ul>
		<li><a href="">Manage Promotions</a></li>
		<li><a href="/backoffice/travels">Manage Travels</a></li>
		<li><a href="">Support</a></li>
		<li><a href="">Manage Users</a></li>
	</ul>

{% endblock %}
