{% extends "_template.html.twig" %}

{% block title %}Interplanetravels - Home
{% endblock %}

{% block main %}
	<h2>Promotions</h2>
	<div>beep bop</div>
	<h2>Travel list</h2>
	<div>beep boop bap</div>
{% endblock %}
